<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AND Simulator: Register</title>
    <link rel="stylesheet" href="../css/registration.css">
</head>
<body>
   <!--  
    <div class="image-container">
        <img src="./../css/backgnd1.jpg" alt="backgnd1" srcset="">
        <img class="transition-img" src="./../css/backgnd2.jpg" alt="backgnd2" srcset="">
        
    </div> -->
    
    <div class="container">
        <form id="form1" action="" method="post">
            <h3>CREATE ACCOUNT :1</h3>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <input type="password" placeholder="Retype Password" required>

            <div class="btn-box">
                <button type="button" id="next1">Next</button>
            </div>

           </form>

        <form id="form2" action="" method="post">
            <h3>CREATE ACCOUNT :2</h3>
            <input type="text" placeholder="Nom et Prenoms" required>
            <input type="text" placeholder="Profession" required>
            <input type="text" placeholder="Categorie" required>

            <div class="btn-box">
                <button type="button" id="back1">Back</button>
                <button type="button" id="next2">Next</button>
            </div>
        </form>

        <form id="form3" action="" method="post">
            <h3>CREATE ACCOUNT :3</h3>
            <input type="tel" placeholder="Telephone" required>
            <input type="number" placeholder="Montant du Premier Depot" required>

            <div class="btn-box">
                <button type="button" id="back2">Back</button>
                <button type="submit" >Submit</button>
            </div>
        </form>

        <div class="step-row">
            <div id="progress"></div>
            <div class="step-color">Step 1</div>
            <div class="step-color">Step 2</div>
            <div class="step-color">Step 3</div>
        </div>

        <div class="signup_link">
            Already Have Account? <a href="../../../index.html">Sign In</a>
        </div>

    </div>

    <script src="./../../controller/register.js"></script>
</body>
</html>